# MongoDB Atlas Connection URI
# Example: mongodb+srv://<username>:<password>@cluster0.abcde.mongodb.net/certificate_db?retryWrites=true&w=majority
MONGODB_URI=mongodb+srv://admin:admin123@cluster0.mongodb.net/certificate_db?retryWrites=true&w=majority

# Server Port
PORT=3000

# Security
JWT_SECRET=super_secret_certificate_jwt_key_2026

# Admin Default Credentials (used for initial seed)
DEFAULT_ADMIN_USER=admin
DEFAULT_ADMIN_PASS=admin123
